h1,h2,h3,p {
  font-family: 'Playfair Display', serif;
  color: rgb(70, 6, 64);
}

img {
    max-width: 200px;
}

.commandbuttan ul {
  list-style: none;
  overflow: hidden;
}
  
.commandbuttan ul li {
  width: 140px;
  text-align: center;
  background-color: #333;
  float: left;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
}
  
.commandbuttan ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 20px;
}

.backgroundbase {
  background-image: url('images/background.png');
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.alternative {
  padding: 20px;
  height: 350px;
  display: inline-block;
}

.alternative img {
  max-height: 350px;
}

.alternative h3 {
  color: darkblue;
}

input[type=radio] {
  display: none; /* ラジオボタンを非表示にする */
}
input[type="radio"]:checked + label {
  background: #31A9EE;/* マウス選択時の背景色を指定する */
  padding: 5px;
  color: #ffffff; /* マウス選択時のフォント色を指定する */
}

input[type=checkbox] {
  display: none; /* ラジオボタンを非表示にする */
}
input[type="checkbox"]:checked + label {
  background: #31A9EE;/* マウス選択時の背景色を指定する */
  padding: 5px;
  color: #ffffff; /* マウス選択時のフォント色を指定する */
}

.label:hover {
  background-color: #E2EDF9; /* マウスオーバー時の背景色を指定する */
}

label {
  display: inline-block; /* ブロックレベル要素化する */
  margin: 5px; /* ボックス外側の余白を指定する */
  color: #b20000; /* フォントの色を指定 */
  text-align: center; /* テキストのセンタリングを指定する */
  line-height: 45px; /* 行の高さを指定する */
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
  border-radius: 5px; /* 角丸を指定する */
}

.yourside {
  background-color: aquamarine;
}

.oppside {
  background-color: pink;
}

.commandbox {
  display: inline-flex;
}

.memorygame img {
  max-width: 120px;
}

.sevenrows img {
  max-width: 120px;
}

.klondike .commandbox {
  display: inline-flex;
  position: fixed;
  top: 125px;
  right: 300px;
  z-index: 1000;
}

.button-1 {
  font-size: 18px;
  display: inline-block;
  padding: 0.5em 1em 0.3em;
  color: #ffffff;
  border-radius: 25px;
  background-color: blueviolet;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.klondike img {
  max-width: 120px;
}

.klondike .leftside {
  float: left;
}

.klondike ul {
  list-style: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
  
.klondike ul li {
  width: 140px;
  text-align: center;
  line-height: 50px;
  margin-right: 2px;
}
  
.klondike ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 20px;
}

.cardscolumns {
  position: relative;
  height: 1000px;
}

.cardscolumns .row-1 {
  position: absolute;
  top: 35px;
}

.cardscolumns .row-2 {
  position: absolute;
  top: 70px;
}

.cardscolumns .row-3 {
  position: absolute;
  top: 105px;
}

.cardscolumns .row-4 {
  position: absolute;
  top: 140px;
}

.cardscolumns .row-5 {
  position: absolute;
  top: 175px;
}

.cardscolumns .row-6 {
  position: absolute;
  top: 210px;
}

.cardscolumns .row-7 {
  position: absolute;
  top: 245px;
}

.cardscolumns .row-8 {
  position: absolute;
  top: 280px;
}

.cardscolumns .row-9 {
  position: absolute;
  top: 315px;
}

.cardscolumns .row-10 {
  position: absolute;
  top: 350px;
}

.cardscolumns .row-11 {
  position: absolute;
  top: 385px;
}

.cardscolumns .row-12 {
  position: absolute;
  top: 420px;
}

.cardscolumns .row-13 {
  position: absolute;
  top: 455px;
}

.cardscolumns .row-14 {
  position: absolute;
  top: 490px;
}

.cardscolumns .row-15 {
  position: absolute;
  top: 525px;
}

.cardscolumns .row-16 {
  position: absolute;
  top: 560px;
}
